
#one{
padding-top: 160px;
}

.card-img-top {
height: 450px; 
object-fit: cover; 
}

.bg-dark-transparent {
background-color: rgba(0, 0, 0, 0.932); 

}

.custom-padding-top {
padding-top: 150px;
}

.custom-pt{
padding-top: 15% !important;
}

.button-bg-custom{
background-color: #333333 !important;
border-color: #333333 !important;
}
 
.button-bg-custom:hover{
background-color: #7C70FF !important; 
border-color: #7C70FF!important;
}

.fs-custom{
font-size: 30px !important;
margin-right: 20px;
}

.banner {
    height: 300px; 
    overflow: hidden; /* Asegura que no se salga el contenido */
    position: relative; /* Posicionamiento relativo para contenido absoluto */
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el área */
}

.mt-personalizado{
    margin-top: 250px;
}

/* Estilo para los campos editables (celdas) */
.editable {
    cursor: pointer;
}

/* Estilo cuando un campo editable tiene el enfoque (focus) */
.editable:focus {
    border: 2px solid #007bff;  /* Borde azul */
    outline: none;  /* Eliminar el borde de enfoque por defecto */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  /* Sombra azul suave */
}
